.login {
    color: white;
    margin: 0;
}
  
.inputField {
    list-style-type: none;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0b4a8a;
}